@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.stopwatch {
    margin-top: 50px;
}

#display {
    font-size: 7rem;
}

#startBtn {
    background-color: green;
    color: #fff;
}

#stopBtn {
    background-color: red;
    color: #fff;
}

#resetBtn {
    background-color: orange;
    color: #fff;
}

button {
    font-size: 2rem;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}